body {
    height: 2000px;
    }

    #caixa {
        position: static;
        width: 100px;
        height: 100px;
        top: 100px;
        left: 100px;
        background-color: blue;
        }

    #caixa-relative {
        position: relative;
        top: 0px;
        left: 60px;
        bottom: 30px;
        right: 30px;
        width: 100px;
        height: 100px;
        background-color: rgb(3, 3, 34);
        }

    #caixa-absolute {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 100px;
        height: 100px;
        z-index: 2;
        }

    #caixa-fixed {
        position: fixed;
        right: 10px;
        top: 10px;
        width: 100px;
        height: 100px;
        }

    #caixa-sticky {
        position: sticky;
        top: 0px;
        }