.circuloum {
    margin-top: 0px;
    margin-left: 0px;
    width: 440px;
    height: 440px;
    border-radius:100%;
    background: #f00;
    z-index: 1;
    align-items: center;
    }

    .circulodois {
        margin-top: 30px;
        margin-left: 30px;
        padding: 0px;
        width: 380px;
        height: 380px;
        border-radius:100%;
        background: #fff;
        align-items: center;
        z-index: 2;
        float: left;
        }

        .circulotres {
            margin-top: 20px;
            margin-left: 20px;
            padding: 0px;
            width: 340px;
            height: 340px;
            border-radius:100%;
            background: #f00;
            align-items: center;
            z-index: 3;
            float: left;
            }

            .circuloquatro {
                margin-top: 30px;
                margin-left: 30px;
                padding: 0px;
                width: 280px;
                height: 280px;
                border-radius:100%;
                background: rgb(1, 5, 255);
                align-items: center;
                z-index: 3;
                float: left;
                }

                .estrela { /* estrela */
                    margin: 0px;
                    width: 280px;
                    height: 280px;
                    background: #fff;
                    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                    z-index: 4;
                    }