* {
    margin: 0;
    padding: 0;
}
    #caixa {
        width: 960px;
        height: 200px;
        margin: 0px auto;
        }

        a {
            color: #007788; 
            text-decoration: none;
            padding: 10px;
            border: 1px solid #007788;
            border-radius: 5px;
            margin: 100px 0px 0px 0px;
            transition: background 1s, color 1s, margin 1s;
            float: left;
            }

            a:hover {
                background-color: aquamarine;
                color: blue;
                margin: 50px 0px 0px 0px;
                }